@import "tailwindcss";
* {
  margin:0 ;
  padding:0 ;
  box-sizing: border-box;
  background-color:#E3E4E5

}
nav {
  background-color:#E3E4E5 ;
  padding: 2rem;
  border-top: black;
  border-left:#E3E4E5  ;
  border-right:#E3E4E5  ;
  border-width: 4px;
  text-align: end;
}
nav a {
  color:black;
  font-weight: 500;
  font-size: medium;
  margin: 0 1rem;
}

